#top{
    width: 100%;
    min-height:25px;
    max-height: 10vw;
    color: rgb(80, 36, 51);
    position: relative;
    top:2vh;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size:x-large;
    text-align: center;
    padding-bottom: 2%;
}

#border{
    width: 750px;
    height: 1050px;
    background-color: white;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#header{
    width: 100%;
    height: 180px;
    background-color: rgb(61, 9, 73);
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  
  .part {
    flex: 1; /* This will ensure each part takes up equal space */
    border: 1px solid; /* Just for visual separation */
    color: white;
    display: block; /* Add this line to make .part a flex container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

  .part1 {
    flex: 1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Make it round */
    cursor: pointer; /* Change cursor on hover */
    border: none;

  }
  
  #imageLabel {
    display: block;
    width: 130px;
    height: 130px;
    line-height: 130px; /* Center text vertically */
    text-align: center; /* Center text horizontally */
    border-radius: 50%; /* Make it round */
    background-color: #ff000022;
    color: white;
  }
  
  #previewImage {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit:cover; 
    display: none;
  }

  .part2{
    background-color: none;
    border: none;
    display: block;
  }

  .containerBody {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  .partBody {
    flex: 2; /* This will ensure each part takes up equal space */
    border:none;/* Just for visual separation */
    
   
    display: block; /* Changed from block to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  .partBody1 {
    flex: 0.1; /* This will ensure each part takes up equal space */
    border:none;/* Just for visual separation */
    
   
    display: block; /* Changed from block to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  .partBody2 {
    flex: 3.5; /* This will ensure each part takes up equal space */
    border:none;/* Just for visual separation */
    
   
    display: block; /* Changed from block to flex */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

  textarea {
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    text-align: start;
    color: rgb(2, 25, 30);
    font-family: 'Arial', sans-serif; /* Default font */
  
    width: 90%;
    padding-top: 0; /* Adjust as needed */
    padding-left: 0; /* Adjust as needed */
    overflow: hidden; /* Prevents scroll bar appearance */
    resize:none; /* Disables manual resizing */
  }
  
 .inputLeft{
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 3px;
    margin-left: 15px;
    text-align: start;
    color: rgb(2, 25, 30);
    font-weight: 200;
    width: 80%;
    padding-top: 0; /* Adjust as needed */
    padding-left: 0; /* Adjust as needed */
    overflow: hidden; /* Prevents scroll bar appearance */
    resize:none; /* Disables manual resizing */
  }
  
  
  .divider {
    border: none;
    height: 1.5px;
    background-color: #0101015a; /* Changed to black for visibility */
    margin-top: 15x;
    margin-bottom: 15px;
    width: 80%; /* Ensure it spans the full width of its container */
    display: block !important; /* Ensures the element is displayed */
    margin-left: 15px;
  }
  

  .divider1 {
    border: none;
    height: 120vh;
    background-color: #0101015a; /* Changed to black for visibility */
    margin-top: 20px;
    margin-bottom: 20px;
    width: 2px; /* Ensure it spans the full width of its container */
    display: block !important; /* Ensures the element is displayed */
  
  }
  