#body{
  overflow-y: auto;
  
}

#middle{
  border:1px solid green;
  position: static;
  width: 210mm;
  height: 297mm;
  display: block;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;

}


#Header{
  border:1px solid green;
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
  background-color: rgb(89, 0, 89);
}

#Body{
  border:1px solid green;
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
}


#containerHeader {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#HeaderPart1 {
  flex: 1; /* This will ensure each part takes up equal space */
   /* Just for visual separation */
  color: white;
  display: flex; /* Add this line to make .part a flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#HeaderPart2 {
  flex: 1; /* This will ensure each part takes up equal space */
   /* Just for visual separation */
  color: white;
  display: block; /* Add this line to make .part a flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}


#imageLabel {
  display: block;
  width: 130px;
  height: 130px;
  line-height: 130px; /* Center text vertically */
  text-align: center; /* Center text horizontally */
  border-radius: 50%; /* Make it round */
  background-color: #ff000022;
  color: white;
}

#previewImage {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit:cover; 
  display: none;
}

#containerBody{
  display: flex;
  width: 100%;
  position: absolute;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#BodyPart1{
  flex: 2; /* This will ensure each part takes up equal space */
  border: none;/* Just for visual separation */
  
  display: block; /* Add this line to make .part a flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#BodyPart2{
  flex: 0.5; /* This will ensure each part takes up equal space */
  border: none; /* Just for visual separation */
 
  display: block; /* Add this line to make .part a flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}


#BodyPart3{
  flex: 3.5; /* This will ensure each part takes up equal space */
  border: none;
  display: block; /* Add this line to make .part a flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

textarea {
  border: none;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 15px;
  text-align: start;
  color: rgb(2, 25, 30);
  font-family: 'Arial', sans-serif; /* Default font */

  width: 90%;
  padding-top: 0; /* Adjust as needed */
  padding-left: 0; /* Adjust as needed */
  overflow: hidden; /* Prevents scroll bar appearance */
  resize:none; /* Disables manual resizing */
}

.inputLeft{
  border: none;
  margin-top: 10px;
  margin-bottom: -10px;
  margin-right: 3px;
  margin-left: 15px;
  text-align: start;
  color: rgb(2, 25, 30);
  font-weight: 200;
  width: 80%;
  padding-top: 0; /* Adjust as needed */
  padding-left: 0; /* Adjust as needed */
  overflow: hidden; /* Prevents scroll bar appearance */
  resize:none; /* Disables manual resizing */
}


.divider{
  width:90%;
  height: 1px;
}

.divider1{
  height: 200mm;
  width: 1px;
}
